---
layout: default
---

<!-- about.html -->
      <div class="post">
        <header class="post-header">
          <h1 class="post-title">
           {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
           <span style="font-size: 30px; text-align: center;">邹乐骁</span>
          </h1>
          <p class="desc">{{ page.subtitle }}</p>
        </header>

        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.html 
              path=profile_image_path 
              class=profile_image_class
              alt=page.profile.image -%}
            {% endif -%}
            <!-- {%- if page.profile.address %} -->
            <div class="address">
              <!-- {{ page.profile.address }} -->
              <p>
                <a href="mailto:20011083@stu.hit.edu.cn" title="email">
                  <i class="fas fa-envelope"></i>
                  20011083@stu.hit.edu.cn
                </a>
              </p>
              <p>
                <a href="https://github.com/Lokshaw-Chau" title="GitHub">
                  <i class="fab fa-github"></i>
                  Lokshaw-Chau
                </a>
              </p>
              <p>
                <a href="https://u.wechat.com" title="Wechat">
                  <i class="fab fa-weixin"></i>
                  wxid_fed2uncgfagw22
                </a>
              </p>
            <!-- {%- endif %} -->
            </div>
          </div>
          {%- endif %}

          <div class="clearfix">
            {{ content }}
          </div>

          <!-- News -->
          {% if page.news -%}
            <!-- <h2><a href="{{ '/news/' | relative_url }}" style="color: inherit;">news</a></h2> -->
            <h2>news</h2>
            {%- include news.html %}
          {%- endif %}

          <!-- Selected papers -->
          {% if page.selected_papers -%}
            <!-- <h2><a href="{{ '/publications/' | relative_url }}" style="color: inherit;">selected publications</a></h2> -->
            <h2>publications</h2>
            {%- include selected_papers.html %}
          {%- endif %}

          <!-- Projects -->
          {% if page.my_projects -%}
            <!-- <h2><a href="{{ '/publications/' | relative_url }}" style="color: inherit;">selected publications</a></h2> -->
            <h2>projects</h2>
            {%- include my_projects.html %}
          {%- endif %}

          <!-- Social -->
          {%- if page.social %}
          <div class="social">
              <div class="contact-note">
                {{ site.contact_note }}
              </div>

              <div class="contact-icons">
                {% include social.html %}
              </div>
              
            </div>
          {%- endif %}
        </article>

</div>
